// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

@color: #00c196;

snapshot-viewer {
  display: block;
  position: relative;
  height: 100%;
  width: 120px;
  overflow-x: scroll;
}

ss-header {
  display: block;
  background: #282a36;
  border-bottom: 1px #181920 solid;
  font-size: 11px;

  .ss-add {
    display: block;
    padding: 0 15px;
    margin: 5px auto 0;
    color: @color;
  }

  /* .btn.icon {
    color: @color;

    &:hover {
      color: #ac4142;
    }
  } */
}

.snapshot-list {
  height: calc(~"100% - 95px");
}

.snapshot-list-ul {
  height: 100%;
  overflow-y: scroll;
}

.snapshot-list-li {
  position: relative;
  width: 120px;
  height: 60px;
  padding: 5px 5px 5px 10px;
  background: linear-gradient(135deg, transparent 5px, rgba(255,255,255,.12) 0) top left no-repeat/100% 70%,
              linear-gradient(45deg, transparent 5px, rgba(255,255,255,.1) 0) bottom left no-repeat/100% 30%;
  color: #efefef!important;
  margin-top: 4px;
  box-sizing: border-box;
  cursor: pointer;

  &.active {
    background: linear-gradient(45deg, transparent 5px, @color 0);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(135deg, transparent 5px, @color 0) top left no-repeat/100% 70%,
                linear-gradient(45deg, transparent 5px, @color 0) bottom left no-repeat/100% 30%;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:hover::after {
    opacity: 1;
  }

  .name {
    display: -webkit-box;
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  .time {
    display: block;
    text-align: right;
    font-size: 12px;
  }
  .btn-remove {
    position: absolute;
    top: 1px;
    right: -1px;

    &:hover {
      color: #ac4142;
    }
  }
}

ss-footer {
  display: block;
  position: absolute;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 10px;
  height: 20px;
  line-height: 20px;
  background: #282a36;
  border-top: 1px solid #181920;
  text-align: center;
}
